/* ==========================================================================
Main page styles
========================================================================== */

#rfb-home-intro {
}

.display-4 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 2em;
  color: #ff1a17;
  margin-top: 10px;
}

.events-header {
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.2em;
  color: #ff1a17;
  margin-top: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
